deepspeed
evaluate
accelerate
datasets
frozenlist
ordereduuid
pandas
python-dateutil
requests
scikit-learn
scipy
torch>=2.0.0
tqdm
transformers
typed-argument-parser
wandb
urllib3
pytest
tensor_parallel
peft
trl
rouge_score
openai
fire
gradio
chainlit

